td.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  td.gallery:hover {
    border: 1px solid #777;
  }
  
  td.gallery img {
    width: 100%;
    height: auto;
  }
  
  td.desc {
    padding: 15px;
    text-align: center;
  }